<link href="css/all.css" rel="stylesheet" type="text/css">

<h2>self defined button</h2>
<button>button</button>  original
<hr/>
<button class="btn">button</button>  original with class btn
<hr/>
<div class="btn">default</div>     div with class btn
<hr/>
<div class="btn btn-primary">primary</div>    div with class btn btn-primray

<h2>self defined input</h2>
<div>
    <input></input>   original input
</div>
<hr/>
<div class="form-group">
    <input></input>   input with class form-group
</div>
<hr/>
<div class="form-group has-error">
    <input></input>   input with class form-group has-error
</div>
<hr/>
<div class="form-group">
    <input disabled="disabled"></input> disabled input with class form-group
</div>


<h2>self defined checkbox</h2>
<div>
    <input type="checkbox"></input>   original checkbox
</div>
<hr/>
<div class="squaredFour">
  <input type="checkbox" value="None" id="squaredFour" name="check" checked />
  <label for="squaredFour"></label>
</div>

<h2>self defined radio</h2>
    <input type="radio"/>
<hr/>
<div>
  <input type="radio" id="radio01" name="radio" />
  <label for="radio01"><span></span>Radio Button 1</label>
</div>

<div>
 <input type="radio" id="radio02" name="radio" />
 <label for="radio02"><span></span>Radio Button 2</label>
</div>

<h2>select onclick 事件</h2>
<hr/>
<h3>select onclick 事件 无value</h3>
<select onchange="onSelectChangeSelectedIndex(this.options[this.options.selectedIndex].value),onSelectedChangeTitle(this.options[this.options.selectedIndex].value)" value="">
  <option>Volvo</option>
  <option>Saab</option>
  <option>Mercedes</option>
  <option>Audi</option>
</select>

<hr/>
<h3>select onclick 事件 有 value</h3>
<select onchange="onSelectChangeSelectedIndex(this.options[this.options.selectedIndex].value),onSelectedChangeTitle(this.options[this.options.selectedIndex].value)" value="">
  <option value="1">Volvo</option>
  <option value="2">Saab</option>
  <option value="3">Mercedes</option>
  <option value="4">Audi</option>
</select>

<h2>useless example</h2>
<hr/>

<div class="contract-container" style="cursor:hand;position:relative;font-size:0.5em;font-family:'Microsoft YaHei';">
	<img alt="授信合同" src="/images/bght.png">
    <div style="position:absolute;top:0px;text-align:center;width:100%;height:100%;margin-top:3em;">企业征信<br/>授权书</div>
</div>


<script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>

<script>
function onSelectChangeSelectedIndex(itemSelected){
	this.selectedIndex = itemSelected;
	console.log("selected index  " + this.selectedIndex);
	
}

function onSelectedChangeTitle(itemSelected){
	this.title = itemSelected;
	console.log("selected title " + this.title);
}
</script>

<script>
	$(".contract-container").width($(".contract-container").children(":first").width());
	$(".contract-container").height($(".contract-container").children(":first").height());
	function previewContract(contractId){
		alert("download contract " + contractId);
	}
</script>

<!--<table>
    <tr>
        <td>
            <div class="slideOne">  
              <input type="checkbox" value="None" id="slideOne" name="check" checked />
              <label for="slideOne"></label>
            </div>
        </td>
        <td>
            <div class="slideTwo">  
              <input type="checkbox" value="None" id="slideTwo" name="check" checked />
              <label for="slideTwo"></label>
            </div>
        </td>
        <td>
            <div class="slideThree">  
              <input type="checkbox" value="None" id="slideThree" name="check" checked />
              <label for="slideThree"></label>
            </div>
        </td>
        <td>
            <div class="roundedOne">
              <input type="checkbox" value="None" id="roundedOne" name="check" checked />
              <label for="roundedOne"></label>
            </div>
        </td>
        <td>
            <div class="roundedTwo">
              <input type="checkbox" value="None" id="roundedTwo" name="check" checked />
              <label for="roundedTwo"></label>
            </div>
        </td>
        <td>
            <div class="squaredOne">
              <input type="checkbox" value="None" id="squaredOne" name="check" checked />
              <label for="squaredOne"></label>
            </div>
        </td>
        <td>
            <div class="roundedTwo">
              <input type="checkbox" value="None" id="roundedTwo" name="check" checked />
              <label for="roundedTwo"></label>
            </div>
        </td>
        <td>
            <div class="squaredThree">
              <input type="checkbox" value="None" id="squaredThree" name="check" checked />
              <label for="squaredThree"></label>
            </div>
        </td>
        <td>
            <div class="squaredFour">
              <input type="checkbox" value="None" id="squaredFour" name="check" checked />
              <label for="squaredFour"></label>
            </div>
        </td>
    </tr>
</table>-->
