<link href="../css/all.css" rel="stylesheet" type="text/css">

<header>users information</header>
<hr>
<br/>
<article>
	<form>
		<table class="table">
			<tr class="tr">
				<th class="th">name</td>
				<th class="th">password</td>
				<th class="th">gender</td>
				<th class="th">phone number</td>
				<th class="th">email address</td>
				<th class="th">create date</td>
				<th class="th">update date</td>
			</tr> 
			<tr class="tr">
				<td class="td">admin</td>
				<td class="td">admin</td>
				<td class="td">male</td>
				<td class="td">18976765435</td>
				<td class="td">23412@163.com</td>
				<td class="td">1423412412</td>
				<td class="td">1423412342</td>
			</tr>
		</table>
	</form>
</article>
<hr/>
<footer>users information</footer>




















































<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript">
$(function(){
	// Returns width of browser viewport
	$( window ).width();
	// Returns width of HTML document
	$( document ).width();
	
	$("body").css("padding-left",($(window).width() - $(".login-form").width())/2+"px");
	$("body").css("padding-top",($(window).height() - $(".login-form").height())/2+"px");
});
</script>
